# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Django
# ======================
db.sqlite3
media/
staticfiles/
*.log

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Virtual Environments
# ======================
venv/
env/
.venv/

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db
