# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node (for React later)
node_modules/

# IDE files
.vscode/
.idea/