.newsletter-section {
  background: #0b1620;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.newsletter-card {
  width: 100%;
  max-width: 1100px;
  padding: 60px 40px;
  border-radius: 18px;
  text-align: center;
  color: #fff;

  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );

  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0 80px rgba(255, 255, 255, 0.04);
}

.newsletter-title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 12px;
}

.newsletter-text {
  color: #aeb9c4;
  font-size: 15px;
  margin-bottom: 35px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.newsletter-form input {
  width: 320px;
  padding: 14px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.newsletter-form input::placeholder {
  color: #9aa6b2;
}

.newsletter-form button {
  padding: 14px 30px;
  border-radius: 8px;
  border: none;
  background: #e5c08c;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-form button:hover {
  background: #d2ad73;
}

.newsletter-message {
  margin-top: 20px;
  color: #7dffb3;
}